.mesBox {
	background: #ffdab9;
	border-radius: 10%;
	width: auto;
	padding: 15px;
	margin-bottom: 50px;
	max-width: 50vw;
	word-wrap: break-word;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	animation-name: messageOut;
	animation-duration: 0.5s;
}

@keyframes messageOut {
	from {
		opacity: 0;
		width: 0%;
	}

	to {
		opacity: 1;
		width: auto;
	}
}

.mesAuthor {
	display: none;
}

.mesDate {
	display: inline-block;
	font-size: 10px;
	font-style: italic;
}

.mesText {
	border-radius: 10%;
	word-wrap: break-word;
	font-size: 4vh;
	font-family: Segoe UI;
	line-height: 45px;
	color: black;
	background: #ffdab9;
	max-width: 100%;
}

.ref {
	border-radius: 10%;
	word-wrap: break-word;
	font-size: 4vh;
	font-family: Segoe UI;
	line-height: 45px;
	background: #ffdab9;
	max-width: 100%;
}

.img {
	height: 10vh;
	width: 10vh;
	max-width: 100%;
	background-size: cover;
}
