.dropMenuAndInputWrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.inputChat {
	border: 0;
	border-top: 5px solid silver;
	outline: none;
	min-width: 100vw;
	height: 10vh;
	font-size: 60px;
	padding: 25px;
	margin-left: 10vh;
	margin-right: 10vh;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

:host {
	display: inline-block;
}
