.result {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 50px;
	overflow: hidden;
	overflow-y: auto;
	margin-bottom: 15vh;
	margin-top: 15vh;
}

.mineMessage {
	color: rgb(0, 0, 0);
	background: #ffdab9;
	border: 0.5em solid #ffdab9;
}

.notMineMessage {
	background: #e5e5ea;
	color: rgb(0, 0, 0);
	border: 0.5em solid #e5e5ea;
}
