.microphone {
	height: 10vh;
	width: 10vh;
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	text-decoration: none;
	background-size: cover;
	border-top: 5px solid silver;
	transition: background-color 1s;
}

.microphone:hover {
	background-color: silver;
}
