.header {
	flex: auto;
	background: rgb(212, 1, 254);
	height: 15vh;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	align-items: center;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 1;
}

.backButtonWrap {
	height: 15vh;
	width: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 1s, border-radius 1s;
	animation: pulse 2s;
}

.backButtonWrap:hover {
	background-color: #760677;
	border-radius: 50%;
}

.backButton {
	height: 80%;
	width: 80%;
	text-decoration: none;
	background-size: cover;
	z-index: 0;
	border-radius: 50%;
	transition: background-color 1s;
}

.backButton:hover {
	background-color: #760677;
}

.backButton:active {
	background-color: rgb(165, 0, 197);
	height: 70%;
	width: 70%;
}

.avatarAndSenderWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.avatar {
	height: 10vh;
	width: 10vh;
	margin-right: 10px;
	border-radius: 50%;
	background-image: url('../../../static/images/avatar1.svg');
	background-size: cover;
}

.senderInfo {
	font-family: Segoe UI;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name {
	font-size: 50px;
	line-height: 45px;
}

.lastTime {
	font-size: 2vh;
	font-style: italic;
	margin-bottom: 10px;
}

.threeDotsWrap {
	height: 15vh;
	width: 15vh;
	cursor: pointer;
	transition: background-color 1s, border-radius 1s;
	animation: pulse 2s;
}

.threeDotsWrap:hover {
	background-color: #760677;
	border-radius: 50%;
}

.threeDotsWrap:active {
	background-color: rgb(165, 0, 197);
	height: 14vh;
}

.threeDots {
	margin: 2vh;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}
